.grade-agendamentos {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .linha-header, .linha-horario {
    display: flex;
  }
  
  .celula-hora {
    width: 80px;
    font-weight: bold;
    padding: 4px 8px;
  }
  
  .celula-sala {
    flex: 1;
    height: 32px;
    margin: 2px;
    border-radius: 4px;
  }
  
  .celula-sala.ocupado {
    background-color: #e74c3c; /* vermelho */
  }
  
  .celula-sala.livre {
    background-color: white;
  }

  .celula-sala.selecionado {
    background-color: lightgreen !important;
    border: 1px solid #4caf50;
    cursor: pointer;
  }

  .agendamentos-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
  }
  
  .erro-modal {
    color: #dc2626; /* vermelho */
    font-weight: 500;
    margin-top: 0.5rem;
  }

  .celula-sala.livre {
    background-color: #f0f0f0;
    cursor: pointer;
  }


  .dashboard-select-relatorio {
    padding-right: 2rem;
    border: 1px solid #d1d5db;
    padding: 0.5rem 0.75rem;
    border-radius: 9999px !important;
    background-color: white !important;
    font-size: 1.1rem;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: none;
    width: 20rem;
    height: 2.5rem !important;
    max-height: 2.5rem !important;
    line-height: 2.25rem !important;
    }

    .celula-sala.ocupado-usuario {
        background-color: #cce4ff !important;
        border: 1px solid #3399ff;
      }
      
  
  
  