/* ======================== */
/*     Emprestimos Page     */
/* ======================== */
.emprestimos-wrapper {
    padding: 2rem;
  }
  
  .emprestimos-heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 1.5rem;
  }
  

  .dark .emprestimos-wrapper {
    background-color: #1a1e29;
    color: #f9fafb;
  }
  
  .dark .emprestimos-heading {
    color: #f9fafb;
  }
  
  .modal-linhas {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  