/* ======================== */
/*         Filters          */
/* ======================== */
.dashboard-filtro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
  }
  
  .dashboard-filtro-group,
  .dashboard-filtro-usuario {
    position: relative;
    display: flex;
    align-items: center;
  }

  .dashboard-select {
    border: 1px solid #d1d5db;
    padding: 0.5rem 0.75rem;
    border-radius: 9999px;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 500;
    color: #1f2937;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: none;
    width: 13.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  
  .dashboard-filtro-usuario-input {
    padding-right: 2rem;
    width: 13.5rem;
    max-height: 1.4rem !important;
    line-height: 1.4rem !important;
  }
  
