/* ======================== */
/*        Tabela            */
/* ======================== */
.emprestimos-tabela-wrapper,
.usuarios-tabela-wrapper {
  overflow-x: auto;
}

.emprestimos-tabela,
.usuarios-tabela {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-size: 0.875rem;
  text-align: left;
}

.emprestimos-tabela th,
.emprestimos-tabela td,
.usuarios-tabela th,
.usuarios-tabela td {
  padding: 0.75rem 1rem;
  border: 1px solid #e5e7eb;
}

.emprestimos-tabela thead,
.usuarios-tabela thead {
  background-color: #f3f4f6;
  color: #374151;
}


.usuarios-tabela td:nth-child(4),
.usuarios-tabela th:nth-child(4) {
  max-width: 100px;
  width: 100px;
  text-align: center;
}

.dark .emprestimos-tabela {
  background-color: #1f2937;
  color: #f9fafb;
}

.dark .emprestimos-tabela thead {
  background-color: #374151;
  color: #f9fafb;
}

.dark .emprestimos-tabela th,
.dark .emprestimos-tabela td {
  border-color: #4b5563;
}
